.search-icon,
.search-close {
  border: 0;

  &:hover,
  &:focus {
    outline: 0;
  }
}

.search-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 100%;
  padding: 0 80px;
  z-index: 10;
  background: $color-white;
  overflow: hidden;
  transition: .2s cubic-bezier(0, 0, 0, 1);

  @media (max-width: $screen-md-min) {
    padding: 0 20px;
  }

}

.search-input {
  width: calc(100% - 40px);
  height: 100%;
  margin: auto;
  padding: 0 10px;
  border: 0;
  color: $search-input-font-color;
  background: $color-white;
  font-size: 16px;
  transition: .2s cubic-bezier(0, 0, 0, 1);

  &:focus {
    outline: 0;
    border-color: $color-primary;
  }

}

.st-handbook {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid $border-color;
  margin-bottom: 20px;
}

.search-visible{
  position: fixed;
  height: 58px;
  top: 70px;
  z-index: 1000;
}
